body {
    width: 480px;
    margin: 0 auto;
  }
  
  div {
    width: 100%;
    float: left;
    text-align: center;
  }
  
  div:nth-child(1) {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  div:nth-child(2) {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div:nth-child(3), div:nth-child(4) {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 250px;
    width: 50%;
  }
  
  div:nth-child(9) {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (min-width: 960px) {
    
    body {
      width: 960px;
    }
  
    div:nth-child(1) {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
    div:nth-child(2) {
      height: 600px;
      width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    div:nth-child(3), div:nth-child(4) {
      height: 200px;
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8){
      height: 250px;
      width: 190px;
    }
  
    div:nth-child(9) {
      height: 150px;
      width: 760px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

